h1,
h2,
h3,
h4,
h5,
p,
a,
span {
    font-family: "Cairo", sans-serif !important;
}
.modal-z-index{
  z-index: 99999;
}
.wize-yellow-bg{
  background: #FCCF17;
}
.wize-yellow-clr{
    color: #FCCF17; 
} 
.header .add-listing .btn-white:focus i{
    color: #000000;
}
@media only screen and (max-width: 991px) {
    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .nav-item.active .nav-link{
        color: #FCCF17; 
    }
}
/*********** Loder Start ****************/
.preloadersection {
    position: fixed;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
    background: #ffffff;
    z-index:99999999999999;
    height: 100vh;
    display: none;
}
.preloaderinnersection {
    width:250px;
    height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*********** Loder End   ****************/
.require-input{
    color: #d9534f;
  }

  .swal2-container{
    z-index: 999999!important;
}

/*========= dashboard ==============*/
.job-list.job-grid{
    padding-top: 20px;
    padding-bottom: 20px;
}
.job-list.job-grid .job-list-logo{
    margin: 0 auto 10px;
    width: 100px;
    height: auto;
}
.job-list-logo img{
    width: 100%;
    height:auto!important;
    border-radius: 50%;
}
.user-detail-link{
    color: #00848c;
}
.display-grid{
    display: grid!important;
}
.cursor-pointer{
    cursor: pointer;
}
.information-element{
    position: absolute;
    top: 10px;
    width: 25px;
    height: 25px;
    border: 2px solid #00848c;
    right: 10px;
    font-size: 11px;
    padding: 3px;
    border-radius: 50%;
    background: #ffffff;
}
/*========= dashboard ==============*/
/*========= column 5  ==============*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

/*========= column 5  ==============*/

nav svg{
    height: 20px;
}

.sector-img{
    width: 100%;
    height: auto;
}